In [20]:
# %pip install kaggle

Requirement already satisfied: kaggle in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (1.5.13)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.10 in c:\users\caduc\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in c:\users\caduc\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.30.0)
Requirement already satisfied: tqdm in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\caduc\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\caduc\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
import pandas as pd
import zipfile
import kaggle

In [41]:
# !Kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

'Kaggle' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

In [53]:
zipfile_name = 'D:\Portfolio\BikeRide_London\London_bike_sharing _dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [3]:
bikes = pd.read_csv('london_merged.csv')

In [4]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
bikes.shape

(17414, 10)

In [6]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [7]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [25]:
bikes.estação.value_counts()

estação
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [30]:
novacols_dict ={
    'timestamp':'tempo',
    'cnt':'contagem',
    't1':'temp_real',
    't2':'temp_sensação',
    'hum':'humidade_porcentagem',
    'wind_speed':'vel_vento',
    'weather_code':'clima',
    'is_holiday':'feriado_bol',
    'is_weekend':'fds_bol',
    'season':'estação'
}

bikes.rename(novacols_dict, axis=1, inplace=True)

In [38]:
bikes

,tempo,contagem,temp_real,temp_sensação,humidade%,vel_vento,clima,feriado_bol,fds_bol,estação
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [39]:
estac_dict = {
    '0.0':'primavera',
    '1.0':'verao',
    '2.0':'outono',
    '3.0':'inverno'
}


clima_dict = {
    '1.0':'limpo',
    '2.0':'nuvens dispersas',
    '3.0':'muitas nuvens',
    '4.0':'nublado',
    '7.0':'chuva',
    '10.0':'tempestade',
    '26.0':'neve'
}

bikes.estação = bikes.estação.astype('str')
bikes.estação = bikes.estação.map(estac_dict)

bikes.clima = bikes.clima.astype('str')
bikes.clima = bikes.clima.map(clima_dict)

In [40]:
bikes.head()

,tempo,contagem,temp_real,temp_sensação,humidade%,vel_vento,clima,feriado_bol,fds_bol,estação
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,muitas nuvens,0.0,1.0,inverno
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,limpo,0.0,1.0,inverno
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,limpo,0.0,1.0,inverno
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,limpo,0.0,1.0,inverno
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,limpo,0.0,1.0,inverno

In [41]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Dados')